{% extends 'templates/base.html.twig' %}

{% block content %}
    <div class="mt-5">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% else %}
            <div>
                <div class="row">
                    <img src="{{ photo }}" width="225" class="rounded d-block">

                    <div class="ml-5">
                        <h3>{% if (first_name and last_name) %}{{ first_name }} {{ last_name }}{% else %}{{ email }}{% endif %}</h3>
                        {% if (first_name or last_name) %} <div><strong>Email:</strong> {{ email }}</div>{% endif %}
                        {% if (birth) %} <div><strong>Birth:</strong> {{ birth }}</div>{% endif %}
                        {% if (country) %} <div><strong>Country:</strong> {{ country }}</div>{% endif %}
                        {% if (city) %} <div><strong>City:</strong> {{ city }}</div>{% endif %}
                        {% if (registration_time) %} <div><strong>Registration time:</strong> {{ registration_time }}</div>{% endif %}
                        <div>
                            <button id="edit_info" class="btn btn-dark mt-5">
                                Edit profile
                            </button>
                        </div>
                    </div>
                </div>

                <hr class="row">

                <div class="row mt-5">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Size</th>
                            <th scope="col">Is private</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="/">1OHJ56ZF</a></td>
                            <td>porno_hd.avi</td>
                            <td>1.2 GB</td>
                            <td class="text-danger">no</td>
                            <td>
                                <a href="/"><span class="text-primary fa fa-save"></span></a>
                                /
                                <a href="/"><span class="text-danger fa fa-trash-alt"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="/">P3UJ89PZ</a></td>
                            <td>kirkorov-cvet_nastroenia.mp3</td>
                            <td>4 MB</td>
                            <td class="text-success">yes</td>
                            <td>
                                <a href="/"><span class="text-primary fa fa-save"></span></a>
                                /
                                <a href="/"><span class="text-danger fa fa-trash-alt"></span></a>
                            </td>                        </tr>
                        <tr>
                            <td><a href="/">AYL34U9Q</a></td>
                            <td>boobs.png</td>
                            <td>2.8 MB</td>
                            <td class="text-danger">no</td>
                            <td>
                                <a href="/"><span class="text-primary fa fa-save"></span></a>
                                /
                                <a href="/"><span class="text-danger fa fa-trash-alt"></span></a>
                            </td>                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>

    <script>
        document.getElementById('edit_info').onclick = e => {
            window.location.href = '/profile/edit';
        };
    </script>
{% endblock %}