{% extends 'templates/base.html.twig' %}

{% block content %}
    <div class="mt-5">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% else %}
            <div>
                <div class="row">
                    <img src="{{ photo }}" width="225" class="rounded d-block">

                    <div class="ml-5">
                        <h3>{% if (first_name and last_name) %}{{ first_name }} {{ last_name }}{% else %}{{ email }}{% endif %}</h3>
                        {% if (first_name or last_name) %} <div><strong>Email:</strong> {{ email }}</div>{% endif %}
                        {% if (birth) %} <div><strong>Birth:</strong> {{ birth }}</div>{% endif %}
                        {% if (country) %} <div><strong>Country:</strong> {{ country }}</div>{% endif %}
                        {% if (city) %} <div><strong>City:</strong> {{ city }}</div>{% endif %}
                        {% if (registration_time) %} <div><strong>Registration time:</strong> {{ registration_time }}</div>{% endif %}

                        <div class="card mt-2">
                            <div class="card-body">
                                <h5>
                                    Upload new file
                                </h5>

                                <div class="ml-4">
                                    <input class="form-check-input" type="checkbox" id="is_private">
                                    <label class="form-check-label" for="is_private">
                                        is private file
                                    </label>
                                </div>

                                <label for="new_file" class="btn btn-dark mt-2">
                                    <input type="file" id="new_file" hidden>
                                    Browse
                                </label>

                                <button class="btn btn-dark" id="upload_image">
                                    load
                                </button>

                                <span id="status_loader" class="ml-3" style="display: none">
                                    <i class="fas fa-check text-success"></i>
                                </span>
                            </div>
                        </div>

                        <div>
                            <button id="edit_info" class="btn btn-dark mt-2" style="width: 298px">
                                Edit profile
                            </button>
                        </div>
                    </div>
                </div>

                <hr class="row">

                <div class="row mt-5">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Size</th>
                            <th scope="col">Is private</th>
                            <th scope="col">Loaded</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody id="file_list">
                            {% for file in files %}
                                <tr id="{{ file.front_id }}">
                                    <td>{{ file.name }}</td>
                                    <td>{{ file.size }}</td>
                                    {% if (file.is_private) %}
                                        <td class="text-success">yes</td>
                                    {% else %}
                                        <td class="text-danger">no</td>
                                    {% endif %}
                                    <td>{{ file.load_time }}</td>
                                    <td>
                                        <a href="/file_download?front_id={{ file.front_id }}"><span class="text-primary fa fa-save"></span></a>
                                        /
                                        <a onclick="deleteFile('{{ file.front_id }}')"><span class="text-danger fa fa-trash-alt"></span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>

    <script>
        document.getElementById('edit_info').onclick = e => {
            window.location.href = '/profile/edit';
        };

        document.getElementById('upload_image').onclick = uploadFile;
        document.getElementById('new_file').onchange = onFileChange;

        function uploadFile(e) {
            e.preventDefault();

            const data = new FormData();
            data.append('is_private', Number($('#is_private').is(':checked')));
            data.append('file', $('#new_file').get(0).files[0]);
            $('#status_loader').hide();

            $.ajax({
                url: '/file_load',
                method: 'post',
                data: data,
                cache: false,
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (response) {
                    const field_list = $('#file_list');

                    if (field_list.find('tr').length >= 10) {
                        return;
                    }

                    const is_private = Number(response.is_private) ? '<td class="text-success">yes</td>' : '<td class="text-danger">no</td>';
                    field_list.prepend(`<tr id="${response.file_id}">
                        <td>${response.name}</td>
                        <td>${response.size}</td>
                        ${is_private}
                        <td>${getDate()}</td>
                        <td>
                            <a href="/"><span class="text-primary fa fa-save"></span></a>
                            /
                            <a onclick="deleteFile('${response.file_id}')"><span class="text-danger fa fa-trash-alt"></span></a>
                        </td>
                    </tr>`);
                }
            });
        }

        function onFileChange() {
            $('#status_loader').show();
        }

        function deleteFile(id) {
            $.ajax({
                url: '/file_delete',
                method: 'post',
                data: {front_id: id},
                dataType: 'json',
                success: function (response) {
                    $('#' + response.file_id).remove();
                }
            });
        }

        function getDate() {
            const date = new Date();
            let day = date.getDate();
            let month = date.getMonth() + 1;
            const hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
            const minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
            const seconds = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();

            if (month < 10) {
                month = '0' + month;
            }

            if (day < 10) {
                day = '0' + day;
            }

            return date.getFullYear() + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;
        }
    </script>
{% endblock %}